<!doctype html>
<html lang="en">


  <head>
    <meta charset="utf-8" >
    <link rel="stylesheet" href="layout_styles.css" >
    <title>Layout</title>
  </head>
  
  <!-- ===== floating one section and an aside plus clear ===== -->
  
  <!-- <body>
    <header>
      <code>&#60;header&#62;</code>
    </header>
    
    <section>
      <code>&lt;section&gt;<br> float: left;</code>
    </section>
     
    <aside>
      <code>&lt;aside&gt;<br> float: right;</code>
    </aside>
     
    <footer>
      <code>&lt;footer&gt;</code>
    </footer>
  </body> -->
  
  
  
  <!-- ===== floating three sections plus clear ===== -->
  
  <!-- <body>
    <header>
      <code>&#60;header&#62;</code>
    </header>
    
    <section>
      <code>&lt;section&gt;<br> float: left;</code>
    </section>
     
    <section>
      <code>&lt;section&gt;<br> float: left;</code>
    </section>
    
    <section>
      <code>&lt;section&gt;<br> float: left;</code>
    </section>
     
    <footer>
      <code>&lt;footer&gt;</code>
    </footer>
  </body> -->
  
  <!-- ===== floating one section and an aside in container (clearfix) ===== -->
  
  <!-- <body>
    <header>
      <code>&#60;header&#62;</code>
    </header>
    
    <div class="group">
      
      <code class="default">&lt;div="group"&gt;</code>
      
      <section>
        <code>&lt;section&gt;<br> float: left;</code>
      </section>
       
      <aside>
        <code>&lt;aside&gt;<br> float: right;</code>
      </aside>
    </div>
     
    <footer>
      <code>&lt;footer&gt;</code>
    </footer>
  </body> -->

  <!-- ===== floating three sections with inline-block ===== -->

  <body>
    <header>
      <code>&#60;header&#62;</code>
    </header>
    
    <section><!--
    --><code>&lt;section&gt;<br> display: inline-block; </code>
    </section>
     
    <section><!--
    --><code>&lt;section&gt;<br> display: inline-block; </code>
    </section>
    
    <section><!--
    --><code>&lt;section&gt;<br> display: inline-block; </code>
    </section>
     
    <footer>
      <code>&lt;footer&gt;</code>
    </footer>
  </body> 

</html>