html {
  font: 16px Helvetica, Arial, sans-serif;
  color: #272727;
}

body {
  background-color: #ffd505;
}

header, main {
  box-sizing: border-box;
  width: 900px;
  margin: 0 auto;
}

header {
  border-radius: 0 0 16px 16px;
  padding: 33px 25px;
  background-color: #047ec1;
  color: #fff;
}

main {
  padding: 27px 0 25px 25px;
  margin-top: 30px;
  background-color: #ececec;
}

h1 {
  font-size: 2.4rem;
  font-weight: 600;
}

h2 {
  margin: 0 0 28px;
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  margin: 21px 0 0;
  font-size: 1.2rem;
  font-weight: 600;
}

figure {
  display: inline-block;
  box-sizing: border-box;
  width: 200px;
  padding: 15px 15px 16px;
  margin: 0 17px 17px 0;
  background: #fff;
}

img {
  display: block;
  height: 140px;
  margin: 0 auto;
}

p {
  margin: 8px 0 0;
}