
<ul>
  <% @files.each do |filename| %>
    <% clean_name = clean_filename(filename) %>
    <li>
      <a href="/<%= clean_name %>"><%= clean_name %></a>
      <a href="/<%= clean_name %>/edit">Edit Document</a>
    </li>
  <% end %>
</ul>
<a href="/new">New Document</a>
