<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/stylesheets/cms.css" />
  </head>

<body>
  <% if session[:message] %>
    <div class="message"><%= session.delete(:message) %></div>
  <% end %>

  <%= yield %>

  <% if session[:username] %>
    <div class="signed_in">
      <p>You are signed in as <%= session[:username] %>
      <form action="users/signout" method="post">
        <button type="submit" >Sign Out</button>
      </form>
    </p>
    </div>
  <% end %>
</body>
</html>
