<p>Edit '<%= params[:filename] %>':</p>
<form name="edited_text" action="/<%= params[:filename] %>/edit" method="post">
  <textarea name="edited_text" cols="80" rows="15"><%= @document %></textarea>
  <button type="submit">Save</button>
</form>