# idiosyncracies #

*coverage/
ref*.*
rf*.*
scrap*
*list.md
assessment*
nts*.*
temp*
video_challenge*
*goal*
whats_next.md

# logs and databases #

*.sql
*.log

# vim #

*swp

# enviroment variables #

.env
