html {
  font: normal 16px Helvetica, Arial, sans-serif;
}

body {
  margin: 0 23.5px;
}

main {
  max-width: 601px;
  margin: 0 auto 26px;
}

fieldset {
  box-sizing: border-box;
  padding: 24px 32px 24px 32.5px;
  border: 1px solid #fff;
  border-left: 4px solid #cbcbcb;
  margin: 0;
  background: #ebebec;
}

h1 {
  margin: 24px 0 23px .5px;
  font-size: 1.75rem;
  font-weight: 400;
  color: #282828;
}

h2 {
  margin: 0 0 19px 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #282828;
}

dl {
  margin: 0 0 24px;
}

dd {
  margin: 10px 0 0;
}


label {
  font-size: 1rem;
  font-weight: 600;
  color: #666766;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid #2e67b2;
  width: 100%;
  font-size: .875rem;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  width: 5%;
  margin: 2px 0 0 -7px;
  vertical-align: top;
}

input[type="checkbox"] + label {
  display: inline-block;
  width: 95%;
  vertical-align: top;
  font-size: .875rem;
  font-weight: 200;
}

textarea {
  height: 110px;
  margin-bottom: 24px;

}

dd.half,
dl.half {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

dl.half:nth-of-type(0n + 2) {
  padding-right: 22px;
}


dd.half:nth-of-type(0n + 1) {
  padding-right: 5px;
}

dd.half:nth-of-type(0n + 2) {
  padding-left: 5px;
}

dl.third {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
}

dl.third:nth-of-type(0n + 1),
dl.third:nth-of-type(0n + 2) {
  padding-right: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: inline-block;
  height: 40px;

}

input[type="submit"] {
  display: block;
  height: 46px;
  width: 174px;
  border: none;
  border-radius: 4px;
  margin: 24px 0 0;
  font-size: 1rem;
  color: #fff;
  background-color: #0066cc;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #6095cb;
}