html {
  font: normal 16px Helvetica, Arial, sans-serif;
}

form {
  max-width: 600px;
  padding: 0 16px;
  margin: 0 auto 25px;
}

fieldset {
  box-sizing: border-box;
  padding: 24px 31.5px 24px 32px;
  border: 1px solid #fff;
  border-left: 4px solid #cbcbcb;
  margin: 0;
  background: #ebebec;
}

dl {
  margin: 0 0 24px;
}

dd {
  margin: 10px 0 0;
}

dd.half,
dl.half {
  box-sizing: border-box;
  display: inline-block;
  width: 50%;
}

dl.half:nth-of-type(0n + 2) {
  padding-right: 19px;
}

dd.half:nth-of-type(0n + 1) {
  padding-right: 5px;
}

dd.half:nth-of-type(0n + 2) {
  padding-left: 6px;
}

dl.third {
  box-sizing: border-box;
  display: inline-block;
  width: 33.33%;
}

dl.third:nth-of-type(0n + 1),
dl.third:nth-of-type(0n + 2) {
  padding-right: 20px;
}

.agree dt {
  display: inline-block;
  width: 3%;
  margin-top: -2px; /* for mac */
  margin-left: -3px;
  vertical-align: top;
}

.agree dd {
  display: inline-block;
  box-sizing: border-box;
  width: 97%;
  padding-left: 7px;
  margin-top: 0;
  vertical-align: top;
}

h1 {
  margin: 24px 0 23px;
  font-size: 1.75rem;
  font-weight: 400;
  color: #282828;
}

h2 {
  margin: 0 0 19px 0;
  font-size: 1.25rem;
  font-weight: 600;
  color: #282828;
}

label {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  color: #666766;
}

label[for="bio"] {
  font-size: 1.25rem;
  font-weight: 600;
  color: #282828;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  padding-left: 8px;
  border-radius: 5px;
  border: 1px solid #2e67b2;
  width: 100%;
  font: normal .875rem Helvetica, Arial, sans-serif;
  color: #282828;
}

textarea {
  height: 108px;
  margin-bottom: 24px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  display: inline-block;
  height: 40px;
}

input[type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  margin-top: 0;
}

label[for="agree"] {
  vertical-align: top;
  font-size: .875rem;
  font-weight: 400;
}

input[type="submit"] {
  display: block;
  height: 46px;
  width: 174px;
  border: none;
  border-radius: 4px;
  padding-top: 3px; /* for mac */
  padding-left: 6px;
  margin: 24px 0 0;
  font: 400 1rem Helvetica, Arial, sans-serif; /*600 in psd*/
  color: #fff;
  background-color: #0066cc;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #6095cb;
}