body {
  font: normal 18px "Roboto Condensed", sans-serif;
  background-image: linear-gradient(to bottom, #d1dbbe, #fcfff5);
  background-repeat: no-repeat;
  color: #3d606f;
}

/*
Header
=======
*/

header {
  box-sizing: border-box;
  width: 960px;
  margin: 20px auto 0;
  padding: 0 20px;
}

header:after {
  display: block;
  content: "";
  clear: both;
}

h1 {
  float: left;
  padding: 40px 0 30px 110px;
  font-size: 36px;
  color: #193441;
  font-weight: normal;
  background: transparent url("../images/logo.png") 0 0 no-repeat;
}

nav {
  float: right;
  margin-top: 70px;
}

nav li {
  display: inline-block;
  padding: 10px 35px;
  background: #fcfff5;
  border-radius: 10px 10px 0 0;
}

ul .active {
  background: #91aa9d;
}

nav a {
  text-decoration: none;
  color: #91aa9d;
}

nav .active a {
  color: #fcfff5;
}


/*
Main
=====
*/

main {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 30px;
  background: #fff;
  box-shadow: 3px 8px 6px #ccc,
              -3px 0 6px #ccc;
}

.article_img {
  float: right;
  margin-top: 10px;
  margin-left: 40px;
  margin-bottom: 20px;
}

article:after {
  display: block;
  content: "";
  clear: both;
}

h2 {
  font-size: 32px;
  font-weight: normal;
  margin: 25px 0;
}

p {
  margin: 12px 0;
  line-height: 1.4em;
}


/*
Footer
=======
*/

footer {
  width: 960px;
  margin: 15px auto 40px;
  font-size: 14px;
}
