body {
  font: normal 18px "Roboto Condensed", sans-serif;
  background-image: linear-gradient(to bottom, #d1dbbe, #fcfff5);
  background-repeat: no-repeat;
}

header {
  box-sizing: border-box;
  width: 960px;
  margin: 20px auto;
  padding: 0 30px;
}

h1 {
  float: left;
  padding: 50px 0 20px 110px;
  font-size: 36px;
  color: #193441;
  font-weight: normal;
  background: transparent url("../images/logo.png") 0 0 no-repeat;
}

nav {
  float: right;
  margin-top: 70px;
}

nav li {
  display: inline-block;
  padding: 10px 35px;
  background: #fcfff5;
  color: #91aa9d;
  border-radius: 10px 10px 0 0;
}

ul .active {
  background: #91aa9d;
  color: #fcfff5;
}

