body {
  font: 18px/1.8 Georgia, serif;
}

main {
  width: 696px;
}

header {
  font: 18px Helvetica, Arial, sans-serif;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

h2 {
  font: 600 24px Helvetica, Arial, sans-serif;
  color:  #b22222; /*firebrick*/
}

a {
  font-weight: 600;
  text-decoration: none;
}

figcaption {
  font-size: 14px;
  font-style: italic;
  text-align: center;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  border-left: 1px dotted lightgrey;
  padding-left: .5em;
}