
html {
  font: 400 18px "Roboto Condensed", Arial, sans-serif;
  color: #3e606f;
}

body {
  background: linear-gradient(#d1dbbd, #fcfff5);
}

header {
  width: 960px;
  margin: 0 auto;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position-x: 20px;
  background-position-y: 20px;
}

h1 {
  display: inline-block;
  margin: 68px 114px 36px 135px;
  color: #193441;
  font-size: 36px;
}

nav {
  display: inline-block;
  position: relative;
  bottom: -42px;
}

a {
  color: #91aa9d;
  text-decoration: none;
}

li:first-of-type a {
  color: #fcfff5;
}

nav li {
  float: left;
  box-sizing: border-box;
  height: 45px;
  padding-top: 12px;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  margin-right: 4px;
  background-color: #fcfff5;
  text-align: center;
}

nav li:first-of-type {
  padding-right: 40.3px;
  padding-left: 39.7px;
  background-color: #91aa9d;
}

nav li:nth-of-type(0n + 2) {
  padding-right: 40.3px;
  padding-left: 39.8px;
}

nav li:nth-of-type(0n + 3) {
  padding-right: 39.7px;
  padding-left: 39.8px;
}

nav li:last-of-type {
  padding-right: 40.7px;
  padding-left: 40.5px;
}

main {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto 13px;
  padding: 30px 30px 44px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3);
}

main:after,
nav:after {
  content: "";
  display: block;
  clear: both;
}

main img:first-of-type {
  display: block;
  width: 900px;
}

h2 {
  margin: 43px 0 28px;
  font-size: 32px;
}

p {
  margin-bottom: 20px;
  line-height: 1.2rem;
}

main img:last-of-type {
  float: right;
  width: 330px;
  margin-left: 40px;
  margin-bottom: 10px;
}

footer {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
}

footer p {
  margin-bottom: 32px;
  font-size: 14px;
}