
html {
  font: 400 18px "Roboto Condensed", Arial, sans-serif;
  color: #3e606f;
}

body {
  background: linear-gradient(#d1dbbd, #fcfff5);
}

header {
  width: 960px;
  margin: 0 auto;
}

.logo_group {
  display: inline-block;
  width: 400px;
  margin-bottom: 12px;
}

h1 {
  color: #193441;
  font-size: 36px;
}

.logo_group > img {
  float: left;
  width: 100px;
  margin: 20px 15px 5px 20px;
}

.logo_group > h1 {
  float: left;
  margin-top: 68px;
}

nav {
  display: inline-block;
  position: relative;
  bottom: -3px;
  width: 540px;
  margin-left: 15px;
}

nav a {
  float: left;
  box-sizing: border-box;
  height: 45px;
  padding-top: 12px;
  padding-bottom: 0;
  border-radius: 10px 10px 0 0;
  margin-right: 4px;
  background-color: #fcfff5;
  text-align: center;
  color: #91aa9d;
}

nav a:nth-of-type(0n + 1) {
  padding-right: 40.5px;
  padding-left: 39.5px;
  background-color: #91aa9d;
  color: #fcfff5;
}

nav a:nth-of-type(0n + 2) {
  padding-right: 40.5px;
  padding-left: 39.5px;
}

nav a:nth-of-type(0n + 3) {
  padding-right: 39.8px;
  padding-left: 39.7px;
}

nav a:last-of-type {
  padding-right: 39.8px;
  padding-left: 40.2px;
}

main {
  box-sizing: border-box;
  width: 960px;
  margin: 0 auto;
  padding: 30px 30px 45px;
  background-color: #fff;
  box-shadow: 0 5px 6px  rgba(0, 0, 0, 0.3);
}

main:after,
.logo_group:after,
nav:after {
  content: "";
  display: block;
  clear: both;
}

main img:first-of-type {
  display: block;
  width: 900px;
}

h2 {
  padding: 43px 0 28px;
  font-size: 32px;
}

p {
  margin-bottom: 20px;
  line-height: 1.2rem;
}

main img:last-of-type {
  float: right;
  width: 330px;
  margin-left: 40px;
  margin-bottom: 10px;
}

footer {
  box-sizing: border-box;
  height: 65px;
  width: 960px;
  padding-top: 13px;
  margin: 0 auto;
}

footer p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1rem;
}