body {
  margin: 0;
  font: normal 18px Helvetica, Arial, sans-serif;
  color: #333333;
}
h1 {
  margin-top: 0;
  font-size: 24px;
}
h2 {
  margin-top: 0;
  font-size: 20px;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#column {
  margin: 0 120px 0 160px;
}

header {
  float: left;
  width: 160px;
  height: 100vh;
  padding: 15px;
  margin-left: -160px;
  font-size: 14px;
  background: #2c3e50;
  box-sizing: border-box;
}
header a {
  text-decoration: none;
  color: #ecf0f1;
}
header li {
  padding-bottom: 15px;
}

a.home::before {
  display: inline-block;
  content: "";
  height: 26px;
  width: 27px;
  margin-right: 5px;
    background: transparent url("../images/icons_nav.png") 0 0 no-repeat;
}

a.home:hover::before {
    background-position: 100% 0;
  }

a.photos::before {
  display: inline-block;
  content: "";
  height: 20px;
  width: 27px;
  margin-right: 5px;
    background: transparent url("../images/icons_nav.png") 0 -27px no-repeat;
}

a.photos:hover::before {
  background-position: 100% -27px;
}

a.contact::before {
  display: inline-block;
  content: "";
  height: 17px;
  width: 27px;
  margin-right: 5px;
    background: transparent url("../images/icons_nav.png") 0 -46px no-repeat;
}

a.contact:hover::before {
  background-position: 100% -46px;
}


main {
  float: left;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}

footer {
  float: right;
  width: 120px;
  height: 100vh;
  padding: 15px;
  margin-right: -120px;
  font-size: 12px;
  background: #e74c3c;
  box-sizing: border-box;
}
footer li {
  padding-bottom: 10px;
}
footer a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #2980b9;
  background: #ffffff;
}

a.twitter::before {
  display: inline-block;
  content: "";
  height: 24px;
  width: 24px;
  margin-right: 2px;
  background: transparent url("../images/icons_social.png") 0 0 no-repeat;
  background-size: 24px;
}

a.facebook::before {
  display: inline-block;
  content: "";
  height: 24px;
  width: 24px;
  margin-right: 2px;
  background: transparent url("../images/icons_social.png") 0 -24px no-repeat;
  background-size: 24px;
}

a.instagram::before {
  display: inline-block;
  content: "";
  height: 24px;
  width: 24px;
  margin-right: 2px;
  background: transparent url("../images/icons_social.png") 0 -48px no-repeat;
  background-size: 24px;
}