html {
  font: 16px/34px Helvetica, Arial, sans-serif;
  color: #545454;
}

main {
  box-sizing: border-box;
  width: 1045px;
  border: 2px solid darkgrey;
  margin: 0 auto;
}

section {
  margin: 37px 20px;
}

section:last-of-type {
  border-top: 2px dashed #545454;
}

h1, h2, h3 {
  color: #cd5c5c;
  font-size: 1.5rem;
}

h1 {
  text-align: center;
}

h4, h5 {
  margin: 24px 0;
  color: #545454;
  font-size: 1rem;
}

p {
  margin: 24px 0;
}

div {
  margin: 45px 0;
}

.inline_eg_box {
  box-sizing: border-box;
  min-height: 80px;
  width: 650px;
  padding-left: 30px;
  border: 2px dashed #545454;
  margin-left: 45px;
  line-height: 80px;
}

#inline-margins a {
  margin: 30px;
}

#inline_padding a {
  padding: 30px;
  background-color: green;
  color: white;
}

#inline_floated {
  height: 170px;
}

#inline_floated a {
  box-sizing: border-box;
  float: left;
  height: 75px;
  width: 120px;
  border: 2px solid darkgreen;
  margin: 45px 15px;
  background-color: green;
  color: white;
  line-height: 75px;
  text-align: center;
}

.float_container {
  margin: 0;
}

.float_container:after,
.float_container:before {
  content: "";
  display: block;
}
.float_container:after {
  clear: both;
}

.colored_box_eg {
  margin: 0;
  line-height: 1rem;
  color: #fff;
}

#blue_block_eg {
  background-color: #1e90ff;
}

#green_block_eg {
  box-sizing: border-box;
  height: 60px;
  padding: 20px;
  margin: 20px;
  background-color: #008000;
  line-height: 20px;
}

#orange_block_eg {
  width: 90px;
  background-color: #ff6347;
  line-height: 1.15rem;
}

#float_block_eg1 {
  float: left;
  border: 1px solid #ff0000;
  background-color: #1e90ff;
}

#float_block_eg2 {
  float: right;
  border: 1px solid #ff0000;
  background-color: #ff6347;
}

#float_block_eg3 {
  box-sizing: border-box;
  float: left;
  height: 70px;
  width: 400px;
  background-color: #ff6347;
  line-height: 70px;
  text-align: center;
}

#float_block_eg4 {
  box-sizing: border-box;
  float: right;
  height: 70px;
  width: 500px;
  background-color: #1e90ff;
  line-height: 70px;
  text-align: center;
}

.block_anchors {
  display: block;
  height: 40px;
  margin: 10px;
  background-color: #1e90ff;
  text-align: center;
  line-height: 40px;
}

.inline_block_anchors {
  display: inline-block;
  height: 60px;
  width: 180px;
  margin: 10px;
  background-color: #1e90ff;
  text-align: center;
  line-height: 60px;
  text-decoration: none;
}

.inline_block_anchors:first-of-type {
  margin-left: 110px;
}

#float_position_block_eg1 {
  float: left;
  height: 100px;
  width: 450px;
  background-color: #ff6347;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
}

#float_position_block_eg2 {
  float: left;
  height: 100px;
  width: 500px;
  background-color: #1e90ff;
  font-weight: 600;
  line-height: 100px;
  text-align: center;
}

#float_position_block_eg3 {
  clear: both;
  height: 50px;
  width: 950px;
  background-color: #2E8B57;
  font-weight: 600;
  line-height: 50px;
  text-align: center;
}

code {
  display: block;
  margin-left: 195px;
  line-height: 1.2rem;
}

code:first-of-type,
code:last-of-type {
  margin-left: 155px;
}

ul {
  padding-left: 80px;
}

li {
  font-style: italic;
}

#fixed_box {
  position: fixed;
  left: 35px;
  bottom: 50px;
  height: 68px;
  width: 225px;
  border-radius: 10px;
  background-color: #1e90ff;
  text-align: center;
  line-height: 70px;
}

#relative_box {
  position: relative;
  left: -90px;
  top: 40px;
  height: 68px;
  width: 325px;
  border-radius: 10px;
  background-color: #ff6347;
  text-align: center;
  line-height: 70px;
}

#pos_absolute {
  position: relative;
  margin: 0;
}

#absolute_box {
  box-sizing: border-box;
  position: absolute;
  left: 230px;
  top: -30px;
  height: 85px;
  width: 200px;
  padding: 25px 45px;
  border-radius: 10px;
  background-color: #008000;
  text-align: center;
  line-height: 1.1rem;
}