
body {
  background: maroon;
  font-family: sans-serif;
  font-size: 2em;
}

header, footer {
  text-align: center;
  background: maroon;
  color: grey;
}

#drill { 
  font-style: italic;
  background: grey;
  border: .1em solid black;
  padding: 5%;
  }