<DOCTYPE! html>
<html>
  <head>
    <title>Directory</title>
  </head>
  <body>
    <h1>Directory</h1>
      <ul>
        <%@paths_files.each do |file_name| %>
          <% resource = File.basename(file_name) %>
          <% display_text = resource.split('.').first %>
          <li><a href="<%= resource %>"><%= display_text %></a></li>
        <% end %>
      </ul>
      <% if @paths_files.sort == @paths_files %>
        <% resource = "/?order=reverse" %>
        <% display_text = "Sort Descending" %>
      <% else %>
      <% resource = "/" %>
      <% display_text = "Sort Ascending" %>
      <% end %>
      <a href="<%= resource %>"><%= display_text %></a>
  </body>
</html>