<DOCTYPE! html>
<html>
  <head>
    <title>Directory</title>
  </head>
  <body>
    <h1>Directory</h1>
      <ul>
        <%@paths_files.each do |file_name| %>
          <% resource = File.basename(file_name) %>
          <% display_text = resource.split('.').first %>
          <li><a href="<%= resource %>"><%= display_text %></a></li>
        <% end %>
      </ul>
      <% if @paths_files.sort == @paths_files %>
        <a href="/?order=reverse">Sort Descending</a>
      <% else %>
      <a href="/">Sort Ascending</a>
      <% end %>
  </body>
</html>