html {
  font: 28px Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  margin: 8px;
}

main {
  box-sizing: border-box;
  width: 680px;
  padding: 14px 15px 15px; /* 15px for chrome on ubuntu */
  border: 2px solid #000;
}

header {
  border-bottom: 30px solid #000;
}

h1 {
  margin: 0 0 6px;
  font-size: 2rem;
  font-weight: 900;
}

p {
  margin: 0 0 4px;
}

aside p {
  font-size: .9rem;
}

h1 ~ p:last-of-type {
  margin-bottom: 7px;
}

dd, dt {
  display: inline;
}

table {
  width: 100%;
}

em {
  font-style: italic;
 }
/* BOLD */
table:first-of-type th,
table:first-of-type td:first-of-type dt,
table:nth-of-type(0n + 2) th,
table:nth-of-type(0n + 2) dt,
table:nth-of-type(0n + 2) td ~ td
{
  font-weight: 600;
}
/* UNBOLD */
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 2) dt,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 3) dt,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 7) dt,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 8) dt,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 10) td,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 11) td,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 12) td,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 13) td {
  font-weight: 400;
}

tbody tr {
  border-top: 1px solid #000;
}


table:first-of-type {
  border-bottom: 15px solid #000;
}

table:first-of-type th {
  padding: 12px 0;
  text-align: left;
}

table:first-of-type td {
  padding: 7px 0;
}

table:nth-of-type(0n + 2) th {
  padding: 13px 0 3px;
  text-align: right;
}

table:nth-of-type(0n + 2) th:after {
  position: relative;
  top: 2px;
  content: "\002A";
  padding-right: 1px;
  vertical-align: top;
  font-size: .85rem;
}

table:nth-of-type(0n + 2) td,
table:last-of-type td {
  padding: 4px 0;
}


/*  % value placement */
table:nth-of-type(0n + 1) td:last-of-type,
table:nth-of-type(0n + 2) td:last-of-type {
  text-align: right;
}
/* prevent % alignment on non-% nutrients */
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 3) td,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 8) td,
table:nth-of-type(0n + 2) tr:nth-of-type(0n + 9) td {
  text-align: left;
}

tr:nth-of-type(0n + 9) {
  border-bottom: 20px solid #000;
}
table:nth-of-type(0n + 2) tr:last-of-type {
  border-bottom: 1px solid #000;
}

table:last-of-type {
  font-size: .8rem;
  line-height: .95; /* adjust for ubuntu chrome */
}

table:last-of-type th {
  position: relative;
  padding: 0 0 3px 0;
  text-align: left;
}

table:last-of-type th:nth-of-type(0n + 2) {
  left: 1px;
}

table:last-of-type th:nth-of-type(0n + 3) {
  left: -8px;
}

table:last-of-type th:nth-of-type(0n + 4) {
  left: -3px;
}

table:last-of-type tbody tr + tr {
  border: none;
}

table:last-of-type td:first-of-type {
  padding-right: 48px;
}

table:last-of-type tr:nth-of-type(0n + 2) td:first-of-type,
table:last-of-type tr:last-of-type td:first-of-type {
  padding-left: 34px;
}

table:last-of-type td:nth-of-type(0n + 3),
table:last-of-type td[colspan="2"] ~ td:nth-of-type(0n + 2) {
  position: relative;
  left: -9px;
}

table:last-of-type td:nth-of-type(0n + 4),
table:last-of-type td[colspan="2"] ~ td:nth-of-type(0n + 3) {
  position: relative;
  left: -4px;
}

.indent dl {
  margin-left: 28px;
}

.indent td {
  border-top: 1px solid #000;
}

aside p {
  margin: 14px 0 17px 19px;
  line-height: 1.171; /* adjust for ubuntu chrome */
}

aside p:before {
  content: "\002A";
  margin-right: 7px;
  margin-left: -20px;
}
