html {
  font: 300 16px "Open Sans", Arial, sans-serif;
  color: #444;
}

main {
  margin: 0 30px;
}

p {
  margin: 0 0 13px;
}

header nav {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  height: 55px;
  width: 100%;
  border-top: 10px solid #f5f5f5;
  border-bottom: 1px solid #eee;
  background-color: #fff;
  text-align: center;
}

header nav li {
  display: inline-block;
  margin: 13px 24.75px 0;
}

header nav a {
  font-size: .81rem;
  font-weight: 400;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

#banner {
  margin: 55px 0 0;
  height: 428px;
  text-align: center;
  color: #fff;
  background-image: url("../images/front.jpg");
  background-position: -2px 0;
}


#banner img {
  display: inline-block;
  height: 80px;
  margin: 150px 0 0;
}


h1 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 15px 0 0;
}

h2 {
  margin: 68px 0 42px;
  font-size: 3rem;
}

#banner h2 {
  font-size: 1.938rem;
  font-weight: 400;
  margin: 19px 0 0;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

h5 {
  margin: 12px 0 0;
  font-size: 1.13rem;
  font-weight: 700;
  color: #008000;
}

section {
  width: 100%;
  padding: 0 0 56px;
  border-top: solid 1px #eee;
  text-align: center;
}

figcaption p {
  margin: 8px 10px 0;
  line-height: 1.6;
}

.button a {
  display: inline-block;
  font-weight: 700;
  padding: 13px 30px;
  color: #fff;
  background-color: #008000;
  text-decoration: none;
}

.button a:hover {
  background-color: #146206;
}

#speakers ul {
  max-width: 900px;
  margin: 0 auto;

}

#speakers ul li {
  display: inline-block;
  box-sizing: border-box;
  height: 380px;
  width: 282px;
  border: 1px solid #eee;
  margin: 1px 6.5px 9px;
  vertical-align: top;
}

#speakers h3 {
  font-weight: 700;
  margin: 37px 0 0;
  color: #008000;
}

table {
  box-sizing: border-box;
  max-width: 960px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  text-align: left;
}

tr {
  vertical-align: middle;
}

th, td {
  border-top: 1px solid #eee;
}

th {
  padding:  11px 12px 12px;
  font-size: 1.5rem;
  font-weight: 400;
  vertical-align: inherit;
}

td {
  padding: 11px 10px;
  vertical-align: inherit;
}

#schedule h2 {
  margin-bottom: 40px;
}

#schedule img {
  width: 130px;
}

#schedule h3 {
  line-height: 1.4;
}

#location div,
#call div,
#sponsors div {
  width: 960px;
  margin: 0 auto;
  text-align: left;
}

#location h2,
#call h2,
#sponsors h2 {
  text-align: center;
}


#sponsors h3 {
  font-size: 1.125rem;
  font-weight: 600;
}

.tag {
  font-size: .45rem;
  padding: 1px 4px;
  border: 1px solid #aaa;
  background-color: #eee;
  
}

footer {
  box-sizing: border-box;
  height: 340px;
  padding: 39px 0;
  text-align: center;
  color: #fff;
  background-image: url("../images/people.jpg");
  background-size: cover;
  background-position: 0 -117px;
}

footer h2 {
  margin: 0 0 37px;
}


#footer_bar {
  height: 188px;
  background: rgba(0, 0, 0, .7)
}
  
#bar_text {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

#bar_text h3 {
  padding: 16px 0 0;
  margin: 0 0 10px;
  font-size: 1.93125rem;
  font-weight: 600;
  text-transform: uppercase;
}

#bar_text p:nth-of-type(0n + 2) {
  margin: 26px 0 0;
}

#bar_text a {
  font-weight: 700;
  text-decoration: none;
  color: #008000;
}

#bar_text a:hover {
  text-decoration: underline;
}

#bar_text .button {
  margin: 13px 0;
}

#bar_text .button a {
  color: #fff;
}

#bar_text .button a:hover {
  text-decoration: none;
}
