html {
  font: 20px Helvetica, Arial, sans-serif;
  color: #f0f0f0;
}

body {
  background: #1c1c1c;
}

main {
  max-width: 1000px;
  min-width: 600px;
  margin: 0 auto;
  background: #363636;
  padding: 48px 20px 2px;
}

h1 {
  margin: 0 0 25px;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
}

figure {
  margin: 0 0 22px;
}

.feature_photo img {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 15px solid #fff;
}

figcaption {
  margin: 11px 0 8px;
  font-size: .8rem;
}

.thumbnails {
  margin: 0 -15px;
}

.thumbnails img {
  box-sizing: border-box;
  display: inline-block;
  width: 25%;
  padding: 3px;
  border: 15px solid #363636;
  border-top: 9px solid #363636;
  background-color: #fff;
}
