html {
  font: 20px Helvetica, Arial, sans-serif;
  color: #4c4c4c;
}

body {
}

a {
  text-decoration: none;
}

a.current,
a[rel="author"] {
  color: #62c9c1;
}

body > header {
  padding: 135px 0 47px;
  background: #3f3f3f;
  text-align: center;
  color: #fff;
}

body > header > h1 {
  padding: 0 0 130px;
  margin: 0 0 136px;
  background: transparent no-repeat center bottom url("../images/logo.png");
  font-size: 3.4rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
}

body > header a {
  color: #fff;
}

nav li {
  display: inline-block;
  margin: 0 25px 5px;
  text-transform: uppercase;
}
